<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banco cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css')}}">
</head>
<body>

<h1 class="titulo_cadastro_id">Introduza seus dados abaixo</h1>

<form method="POST" class="form_id">
    <ul id="lista_id">
        <li class="item_lista_id">
            <input required
                   type="text"
                   name="nome"
                   class="input_cadastro_id"
                   placeholder="Digite aqui seu nome">
        </li>
        <li class="item_lista_id">
            <input required
                   type="email"
                   name="endereco"
                   class="input_cadastro_id"
                   placeholder="Digite aqui seu email">
        </li>
        <li class="item_lista_id">
            <input required
                   type="text"
                   name="contribuinte"
                   class="input_cadastro_id"
                   placeholder="Digite aqui seu contribuinte">
        </li>
        <li class="item_lista_id">
            <input required
                   type="password"
                   name="senha"
                   class="input_cadastro_id"
                   placeholder="Digite aqui uma senha">
        </li>
        <li class="item_lista_id">
            <input required
                   type="password"
                   name="confirmar_senha"
                   class="input_cadastro_id"
                   placeholder="Digite novamente sua senha">
        </li>
    </ul>
    <button type="submit" value="Cadastrar" class="botao_cadastro_id" >Cadastrar</button>
</form>

</body>
</html>