<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banco Central</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
</head>
<body class="body_id">

<header class="header_id">
    <h1 class="bemvindo_id">Bem vindo ao Banco central</h1>
</header>


<Section class="atalhos_id">
    <div class="section_atalho_id">
        <h2>Cadastre-se aqui</h2>
        <a href="{{url_for('cadastro')}}" class="link_template">Cadastar</a>
    </div>

    <div class="section_atalho_id">
       <h2>Faça seu login aqui</h2>
        <a href="{{url_for('login')}}" class="link_template">Login</a>
    </div>
</Section>






</body>
</html>