<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>

<header class="section_login_id">
    <h1>Faça aqui seu login</h1>
</header>

<form method="POST" class="form_login_id">
    <ul class="lista_form_id">
        <li class="item_lista_id">
            <input type="text" name="email" class="input_lista_id" placeholder="Digite aqui seu email">
        </li>
        <li class="item_lista_id">
            <input type="password" name="senha" class="input_lista_id" placeholder="Digite aqui sua senha">
        </li>
    </ul>
    <button type="submit" value="Login" class="botao_login_id">Login</button>
</form>

</body>
</html>